---
BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 4
UseTab: Never
BreakBeforeBraces: Allman
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: false
AllowShortBlocksOnASingleLine: Never
ColumnLimit: 100
NamespaceIndentation: None
SortIncludes: false
IndentCaseLabels: false
PointerAlignment: Right
SpaceBeforeParens: ControlStatements
